.button {
  background-color: inherit;
  /* justify-content: space-around; */
  cursor: pointer;
  border: none;
}
.icon {
  width: 1.5rem;
  height: 2rem;
  margin-right: 1.5rem;
  color: white;
}
