.search-container {
  width: 100%;
  /* height: 30rem; */
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.search-form {
  width: 30rem;
  height: 10rem;
  background-color: white;
  margin-top: 5rem;

  /* border: solid rgb(29, 217, 241); */
}

.input {
  width: 100%;
  height: 4rem;
  border-bottom: solid rgb(29, 217, 241);
  display: flex;
  justify-items: center;
}

.input input {
  width: 100%;
  padding: 1rem;
  border: none;
}

.search-icon {
  color: grey;
  border: none;
}

.search-button {
  margin: 10%;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.search-button button {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.active {
  background-color: rgb(29, 217, 241);
  color: white;
}
