.hotelList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotelItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.hotelImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.hotelName {
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.hotelCity {
  font-weight: 300;
}

.hotelPrice {
  font-weight: 500;
}

.hotelRate > button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.hotelRate > span {
  font-size: 14px;
}
